# System files
.DS_Store

# Dependency directories
client/node_modules/

# Next.js build output
client/.next/
client/out/

# Local Environment Variables
client/.env*
!client/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
